p{text-align : justify
	
}

.cartes {
	text-align: center;
	display : flex;
	justify-content: space-evenly;
	justify-items : center;
	flex-wrap: wrap;
	max-width : 100%;
	padding-right : 30px;
	padding-left : 20px;
	
}

.card, .cardButton {
    color : #CCC8CB;
    height : 18rem;
    display: flex;
    display: inline-block;
    box-shadow: 10px 5px 5px #CCC8CB;
    width: 18rem;
    background-color :  #f8f8f8;
    margin-top : 15px;
    margin-bottom : 15px;
    transition: transform .2s;
	border: none
}

.image {
	width : 250px;
	height : 200px;
	margin-bottom : 20px;
}

.card:hover{
	-ms-transform: scale(1.05); /* IE 9 */
-webkit-transform: scale(1.05); /* Safari 3-8 */
transform: scale(1.05);
cursor: pointer;
}
.cardButton:hover{
	cursor: pointer;
}


h1 {color: #CCC8CB;
    font-size: 30px;
    font-family: sans-serif;
    border-bottom: 2px solid #CCC8CB;
}
h2 {
    font-size: 20px;
    font-family: sans-serif;
    text-decoration:none;
    color: #CCC8CB; 
}


#header {
	position : relative;
	z-index: 3;
}

.card-text {
	font-size: 20px;
	color : #EA690B;
	text-align : center;
}


.actualite {
	background-color : #f8f8f8;
	display: flex;
	
	justify-items : center;
	
	flex-wrap: wrap;
	cursor: pointer;
	
	margin-bottom : 30px;
	margin-right : 20 px;
	
}

.titreActualite {
	text-align : justify;
	max-width : 75%;
	min-width : 40%;
	margin-left : 30 px;
	margin-right : 20 px;
}

#actualite {
	color : #EA690B;
}

.certif {
	height: auto;
	width : auto;
	padding-right: 12px;
	padding: 7px 12px 0px 7px;
}

#paragraphe {
	padding-right : 10px;
}

.texteActualite {
	padding-left : 15 px;
}
@media screen and (max-width: 1780px){
	.titreActualite{
		max-width : 100%;
	}
}

#titre {
	font-size: large;
font-weight: bold;
}