@charset "ISO-8859-1";
@charset "ISO-8859-1";
/* -----------  MAIN  ----------*/

main{
	padding: 70px;
	display: flex;
    justify-content: center;
}
#container {
	margin: 0 0 0 0;
	background-color: #f8f8f8;
}

.body {
	padding : 12px;
	width: 72%;
	margin: 20px 0 40px 0px;
	background-color: #ffffff;
}

.bouton {
background: #0066A2;
color: white;
border-style: outset;
border-color: #0066A2;
height: 40px;
width: 500px;
font: bold 15px arial, sans-serif;
text-shadow:none;
}
.bouton:hover{
	cursor : pointer;
}
@media screen and (max-width: 1060px){
	main{
		padding-left: 20px;
		padding-right: 20px;
	}
	.body{
		width: 100%;
	}
}
@media screen and (max-width: 460px){
	main{
		padding-left: 0px;
		padding-right: 0px;
	}
}

