body {
    width: 100%;
}

.form {

    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items : baseline;
    flex-wrap: wrap;
}

.formulaire {
	width: 45%;
}


h1 {color: #CCC8CB;
    font-size: 30px;
    font-family: sans-serif;
    border-bottom: 2px solid #CCC8CB;
}

.input {
    width: 100%;
}

.erreur {
	color : red
}

.bouton {
	background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 40px;
	width: 100px;
	font: bold 15px arial, sans-serif;
	text-shadow:none;
}
 