@charset "ISO-8859-1";
@charset "ISO-8859-1";
/* -----------  MAIN  ----------*/
main{
	display: flex;
    justify-content: center;
}
.body {
	
	
}
#container {
	margin: 8px 0 0 0;
	background-color: #f8f8f8;
}

/* -----------  FOOTER  ----------*/
/*footer{
	background-color: #28253d;
}*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
footer ul{
	list-style: none;
}
.footer {
	background-color: #24262b;
	padding: 70px 0;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content:'';
	position: absolute;
	left:0;
	bottom :-10px;
	background-color: #ea6a0b;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	text-decoration: none;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color:#ffffff;
	padding-left: 8px;
}
#formation{
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
}
#contact{
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
}
#quiSommesNous{
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 0 10px 10px 0;
	background-color: rgba(255,255,255,0.2);
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
@media(max-width: 767px){
	.footer-col{
	width: 25%;
	margin-bottom: 30px;
	}
}
@media(max-width: 580px){
	.footer-col{
	width: 100%;
	}
}