@charset "ISO-8859-1";

a:link,
a:visited { 
	color: blue;
}
a:hover,
a:focus,
a:active {
	color: black;
}
button {
	overflow: visible;
	width: auto;
}
button.link {
	font-family: "Verdana" sans-serif;
	font-size: 1em;
	text-align: left;
	color: blue;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	-moz-user-select: text;
}
button.link span {
	text-decoration: underline;
}
button.link:hover span,
button.link:focus span {
	color: black;
}