@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 200;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  background: #ffffff;
  position: fixed;
  width: 100%;
  box-shadow: 0px 6px 8px lightgray;
  top:0px;
  padding-top : 6px;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
  height: 70px;
}
nav .content .links{
  margin-left: 40px;
  display: flex;
}
.content .logo a{
  color: #000;
  font-size: 30px;
  font-weight: 600;
  margin-top: 7px; 
}
.content .links li{
  list-style: none;
  line-height: 70px;
  transition: all 0.3s ease;
}
.content .links li a,
.content .links li label{
  color: #9c9d9f;
  font-size: 15px;
  font-weight: 500;
  padding: 9px 17px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li:hover,
.content .links li label:hover{
  background: #171c24;
  color: #fff;
}
.content .links li a:hover{
	color: white;
}
.dropdown a:hover{
	background: #9c9d9f;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #000;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}
.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #24262b;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 52px;
  width: 70px;
  background: #ea690b;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}
#connectionInscription{ 
 	margin-bottom: 1px;
 	align-self: center; 
 } 
#connectionInscription p{
	padding: 7px;
	border: 2px solid #9c9d9f;
	color: #9c9d9f;
	transition: all 0.3s ease;
}
#connectionInscription p:hover{
	color: #000000;
/* 	background-color: ; */
}
.logoConnexionTableauDeBord{
	display: none;
}

.logo {
	display: flex;
}
.logo p{
	align-self: flex-end;
	margin-bottom: 13px;
	line-height: 15px;
	color: #9c9d9f;
}

/* Dropdown Menu code commence ici */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}
/* Responsive code commence ici */
@media screen and (max-width: 1240px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}
@media screen and (max-width: 1125px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }
  /* dropdown responsive code commence ici */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
  
}
@media screen and (max-width: 720px){
	#textLogo{
  	display: none;
  }
}
@media screen and (max-width: 460px){
	#logo_it{
  	display: none;
  }
}
@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
  
}
@media screen and (max-width: 362px){
	#connectionInscription p{
		display: none;
	}
	.logoConnexionTableauDeBord{
		display: unset;
	}
	.wrapper nav{
		justify-content: space-evenly;
	}
	
}
.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}