

body {
    width: 100%;
}

.form {

    color : black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}




h1 {color: #CCC8CB;
    font-size: 30px;
    font-family: sans-serif;
    border-bottom: 2px solid #CCC8CB;
}
h2{
	font-size: 22px;
}


.input {
    padding-right: 60%;
}

.erreur {
	color : red
}

