


h1 {color: #CCC8CB;
    font-size: 30px;
    font-family: sans-serif;
    border-bottom: 2px solid #CCC8CB;
    margin-top: 2%;
}

table {
    margin: 1em;
    table-layout: auto;
    width : 90%;
    margin-top: 3%;
    font-size: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #EA690B;
    color : white;

}

#Mesformations {
    background-color: #3F4042;
}

td {
    background-color: #CCC8CB;

}

p {
    width : 90%;
    text-align: justify;
    margin-left : 1%;
}



