@charset "ISO-8859-1";

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#form {
	width: 50%;
	display: flex;
	flex-direction: column;
	/*align-items: end;*/
}

#form input, #form select {
	width: 100%;
	color: #3F4042;
}

#form label {
	color: #EA690B;
}

textarea {
	width: 100%;
	height: 100px;
}

input#submitAjouterModifier {
	background-color: #EAEAEA;
	color: #0285FB;
	border: solid #F9B17D 3px;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-style: italic;
}

#submitAjouterModifier:hover {
	cursor: pointer;
}

#booleenAdmin {
	display: flex;
	margin-top: 10px;
}

#booleenAdmin label {
	width: 100%;
}

#retour, #retour:visited {
  color: #565759;
  margin-top: 20px;
}

#retour:active {
	color: #EA690B;
}