
@media (min-width: 1000px) {
  .body {
    display : flex;
    justify-content: space-between;
  }
}

.contenu {
    padding-left: 2%;
    padding-right: 2%;
}
.colonneG{
	width: 100%;
}
#colonne1 {
    text-align: justify;
    max-width : 100%;
}

#colonne2 {
	margin-top : 15%;
	padding-right : 10%;
    max-width : 100%;
}

#formation {
	margin: 1em;
    table-layout: auto;
    width : 100%;
    margin-top: 3%;
    font-size: 20px;
    background-color: #CCC8CB;
}

#prochaineSession {margin: 1em;
    table-layout: auto;
    width : 100%;
    margin-top: 3%;
    font-size: 20px;
    background-color: #CCC8CB;
}

td {
    padding: 10px;
	color: white;
    text-align: left;
    width: 100%;
}

th {
    background-color: #EA690B;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
}

h1 {color: #CCC8CB;
    font-size: 30px;
    font-family: sans-serif;
    border-bottom: 2px solid #CCC8CB;
    margin-top: 2%;
}

 h2 {color: #CCC8CB;
     font-style: italic;
}

 #boutons {
     width :100%;
     margin-left: 10%;
     display : flex;
	justify-content: space-around;
 }
 
 .bouton {
background: #0066A2;
color: white;
border-style: outset;
border-color: #0066A2;
height: 40px;
width: 100px;
font: bold 15px arial, sans-serif;
text-shadow:none;
cursor: pointer;
}
 

 

