@charset "ISO-8859-1";

a#addNew {
	background-color: #EAEAEA;
	color: #00C853;
	padding: 5px 5px 5px 5px;
	border: solid #3F4042 3px;
	border-radius: 8px;
}

#link {
	display: inline-block;
}

#plus {
	font-size: 2em;
	font-weight: 1000;
	padding: 0px 5px 2px 10px;
	vertical-align: middle;
	display: inline-block;
}

h1 {
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 3px solid #3F4042;
	/*border-radius: 8px;
	border-spacing: 0px;*/
}

thead {
	background-color: #EA690B;
	color: #3F4042;
	border-bottom: 3px solid #3F4042;
}

tbody {
	background-color: #EAEAEA;
	color: #EA690B;
}

th, td {
	padding: 5px;
	border: 1px solid #3F4042;
}
tbody input {
	background-color: #EA690B;
	color: #EAEAEA;
	padding: 5px;
	border-radius: 5px;
}

.boutonDetail {
	display: flex;
	align-content: center;
}

.submit {
	width: 100%
}

.submit:hover {
	cursor: pointer;
}


