@charset "ISO-8859-1";

h1 {
	text-align: center;
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.autreBouton .submit {
	width: 100%;
	margin-bottom: 10px;
}

table{
	width: 65%;
	background-color: #EAEAEA;
	color: #EA690B;
	margin-bottom: 20px;
	border-radius: 10px;
}

th {
	text-align: left;
	width: 50%;
	padding: 10px;
}

td {
	text-align: right;
	padding: 10px;
}

td .submit {
	width: 200%
}

.actions {
	display: flex;
	justify-content: space-between;
}

input {
	background-color: #EAEAEA;
	border: solid #F9B17D 3px;
	padding: 5px;
	margin: 0px 10px 0px 10px;
	border-radius: 5px;
	font-style: italic;
}

input:hover {
	cursor: pointer;
}

.submitModifier {
	color: #0285FB;
}

.submitSupprimer {
	color: #D50000;
}

.submitCreer {
	color: #00C853;
}

.submitVoir {
	color:  #EA690B;
}

#retour, #retour:visited {
  color: #565759;
  margin-top: 20px;
}

#retour:active {
	color: #EA690B;
}
