@charset "ISO-8859-1";

#catalogues {
	display: flex;
	flex-wrap: wrap;
}

.catalogue {
	width: 30%;
	height: 200px;
	margin: 1.6%;
}

button {
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color: #F9B17D;
	border: solid #565759 2px;
}

button:hover {
	cursor: pointer;
}

form {
	height: 100%;
}