@charset "ISO-8859-1";

#corps {
	display: flex;
}

#prochainesSessions {
	width: 70%;
}

#listes {
	width: 30%;
	border: solid #3F4042 3px;
	padding: 20px;
	height: 220px;
	margin-top: 10px;
}

@media (max-width: 1445px) {
	#listes {
		height: 240px;
	}
}

@media (max-width: 1337px) {
	#listes {
		height: 260px;
	}
}

@media (max-width: 1223px) {
	#listes {
		height: 280px;
	}
}

@media (max-width: 1020px) {
	#listes h3 {
		font-size: 0.9em;
	}
}

@media (max-width: 1020px) {
	#listes a {
		font-size: 0.9em;
	}
}

#listes ul {
  list-style-type: none;
}

#listes a, #listes a:visited {
  color: #565759;
}

#listes a:active {
	color: #EA690B;
}

#sessions {
	display: flex;
	flex-wrap: wrap;
}

.session {
	width: 30%;
	height: 200px;
	margin: 1.6%;
	margin-top: 10px;
}

@media (max-width: 1250px) {
	.session {
		width: 45%;
	}
}

@media (max-width: 950px) {
	.session {
		width: 90%;
	}
}

button {
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color: #F9B17D;
	border: solid #565759 2px;
}

button:hover {
	cursor: pointer;
}

form {
	height: 100%;
}
